extends layout.pug

block append head
  title HeadChat - About

block body
  h1 HeadChat
  p
    | HeadChat is a web application for chatting with random strangers
    | online, created as an interesting side project.
  p
    | This hosted version of HeadChat is using version #{version}.
