extends layout.pug

block append head
  title Node chat - About

block body
  h1 Node chat
  p
    | Node chat is a web application for chatting with random strangers
    | online, created as an interesting side project.
  p
    | This hosted version of Node chat is using version #{version}.
